* {
  font-family: sans-serif;
}

.nav-bg {
  background-image: url(Resources/banner.png);
  height: 500px;
  width: 100%;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 450px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 34px 16px;
  text-decoration: none;
  margin-left: 100px;
}

li a:hover {
  background-color: white;
}

.blog {
  text-align: center;
  color: whitesmoke;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

.sideBarBg {
  background-color: cadetblue;
  padding: 2% 0;
}

.sideBarBg > a {
  color: darkred;
  font-weight: bold;
  padding: 2%;
}

.admin {
  font-family: forte;
  font-size: 35px;
  color: indianred;
}
