.margin {
	padding-top: 150px;
	text-align: center;
	padding-bottom: 40px;
	color: teal;
}
.bg {
	background-image: url(Resources/siginin.jpg);
	background-size: cover;
	height: 550px;
	margin-top: 60px;
}

.text_acc {
	color: #00bcd4;
}

.bg_text {
	font-size: 20px;
}

.text {
	color: teal;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
}

.gradient {
	background-image: linear-gradient(45deg, #642b73 0%, #c6426e 51%, #642b73 100%);
	color: whitesmoke;
}

.fa-fb {
	color: #3b5998;
	padding-left: 165px;
	height: 40px;
}
.fa-tw {
	color: #00acee;
}

.fa-go {
	color: #ea4335;
}
.allign {
	color: teal;
	font-weight: bold;
	text-align: center;
}
