.bg {
	background-image: url(Resources/bg-01.jpg);
	background-size: cover;
	height: 800px;
}
.bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: calc(100% - 520px);
	position: relative;
	z-index: 1;
}

.text_signup {
	text-align: center;
	color: #00bcd4;
}

.bg::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #e8519e;
	background: -webkit-linear-gradient(bottom, #e8519e, #c77ff2);
	background: -o-linear-gradient(bottom, #e8519e, #c77ff2);
	background: -moz-linear-gradient(bottom, #e8519e, #c77ff2);
	background: linear-gradient(bottom, #e8519e, #c77ff2);
	opacity: 0.8;
}
.top {
	padding-top: 50px;
	padding-bottom: 20px;
}

.text {
	color: teal;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
}

.btn-grad {
	background-image: linear-gradient(to right, #642b73 0%, #c6426e 51%, #642b73 100%);
	color: whitesmoke;
}
.btn-grad:hover {
	background-position: right center;
}

.bg_text {
	font-size: 25px;
	color: whitesmoke;
	padding-top: 230px;
	padding-left: 180px;
}

.quote-head {
	color: aquamarine;
	font-weight: bold;
	font-size: 40px;
	font-family: mistral;
}

text-width {
	width: 100px;
}
.fa-fb {
	color: #3b5998;
	padding-left: 165px;
	height: 40px;
}
.fa-tw {
	color: #00acee;
}

.fa-go {
	color: #ea4335;
}
.allign {
	color: teal;
	font-weight: bold;
	text-align: center;
}

.fa-color {
	color: teal;
}
